// Colors
$primary: #586F6B;
$secondary: #ff8a80;
$light-green: #7F9183;
$green-beige: #B8B8AA;
$rose-beige: #CFC0BD;
$beige: #DDD5D0;

// Fonts
$logo: 'Black Ops One', cursive;
$basic: 'Roboto', sans-serif;
